@charset "UTF-8";
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/*  __      __        _       _     _           
/*  \ \    / /       (_)     | |   | |          
/*   \ \  / /_ _ _ __ _  __ _| |__ | | ___  ___ 
/*    \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __|
/*     \  / (_| | |  | | (_| | |_) | |  __/\__ \
/*      \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
/*                                              
/*                                               */
/* Variables */
:root {
	/* Colors: */
	--unnamed-color-006aff: #006aff;
	--unnamed-color-ffffff: #ffffff;
	--unnamed-color-fbaf00: #fbaf00;
	--unnamed-color-188fa7: #188fa7;
	--unnamed-color-464655: #464655;
	--unnamed-color-0c0c0d: #0c0c0d;
	--unnamed-color-f4f4f9: #f4f4f9;
	--unnamed-color-f56960: #f56960;

	/* Font/text values */
	--unnamed-font-family-tajawal: Tajawal;
	--unnamed-font-style-normal: normal;
	--unnamed-font-weight-bold: bold;
	--unnamed-font-weight-normal: normal;
	--unnamed-font-weight-medium: medium;
	--unnamed-font-size-14: 14px;
	--unnamed-font-size-16: 16px;
	--unnamed-font-size-24: 24px;
	--unnamed-font-size-48: 48px;
	--unnamed-character-spacing-0: 0px;
	--unnamed-line-spacing-21: 21px;
	--unnamed-line-spacing-24: 24px;
	--unnamed-line-spacing-36: 36px;
}

/* Character Styles */
.unnamed-character-style-1 {
	font-family: var(--unnamed-font-family-tajawal);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-48);
	line-height: var(--unnamed-line-spacing-24);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
}
.unnamed-character-style-2 {
	font-family: var(--unnamed-font-family-tajawal);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-24);
	line-height: var(--unnamed-line-spacing-36);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
}
.unnamed-character-style-3 {
	font-family: var(--unnamed-font-family-tajawal);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-medium);
	font-size: var(--unnamed-font-size-14);
	line-height: var(--unnamed-line-spacing-21);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
}
.unnamed-character-style-4 {
	font-family: var(--unnamed-font-family-tajawal);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-24);
	line-height: var(--unnamed-line-spacing-24);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-5 {
	font-family: var(--unnamed-font-family-tajawal);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-16);
	line-height: var(--unnamed-line-spacing-24);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-f4f4f9);
}
.unnamed-character-style-6 {
	font-family: var(--unnamed-font-family-tajawal);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-16);
	line-height: var(--unnamed-line-spacing-24);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
}

/* Exep */
[class*='exep-'] {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.exep-1 {
	-webkit-line-clamp: 1;
}
.exep-2 {
	-webkit-line-clamp: 2;
}
.exep-3 {
	-webkit-line-clamp: 3;
}
.exep-4 {
	-webkit-line-clamp: 4;
}
.exep-5 {
	-webkit-line-clamp: 5;
}

/***
 *      __  __              
 *     |  \/  |     ( )      
 *     | \  / | __ _ _ _ __  
 *     | |\/| |/ _` | | '_ \ 
 *     | |  | | (_| | | | | |
 *     |_|  |_|\__,_|_|_| |_|
 *                           
 *                           
 */
img {
	max-width: 100%;
}
a,
a.reverse:hover,
a.reverse:active,
a.reverse.active,
a.reverse:focus {
	text-decoration: none;
	color: var(--unnamed-color-0c0c0d);
}
a.reverse,
a:hover,
a:active,
a.active,
a:focus {
	color: var(--unnamed-color-f56960);
}
.dropdown-menu {
	min-width: 20rem;
	padding: 0;
}
/* Forms */
.form-select,
.form-control {
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-21) var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	text-align: right;
	font: normal normal normal 14px/21px Tajawal;
	letter-spacing: 0px;
	color: #464655;
	border: 1px solid #46465533;
}
.form-select:focus,
.form-control:focus {
	box-shadow: 0 0 0 0.25rem rgb(245 105 96 / 25%);
	border: 1px solid var(--unnamed-color-f56960) !important;
}
.input-group {
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 1px solid #46465533;
	border-radius: 8px;
}
.input-group-text {
	align-items: flex-start;
}
.input-group .form-select,
.input-group .form-control,
.input-group label,
.input-group span {
	background-color: transparent;
	border-color: transparent;
}
.form-check-input:checked {
	background-color: var(--unnamed-color-f56960);
	border-color: var(--unnamed-color-f56960);
	box-shadow: 0 0 0 0.25rem rgb(245 105 96 / 25%);
}
.form-check-input:focus {
	border-color: var(--unnamed-color-f56960);
	box-shadow: 0 0 0 0.25rem rgb(245 105 96 / 25%);
}

/* Buttons*/
.btn {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-16) / var(--unnamed-line-spacing-24)
		var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-ffffff);
	text-align: center;
	font: normal normal bold 16px/24px Tajawal;
	letter-spacing: 0px;
	color: #ffffff;
}
.btn-primary {
	background-color: var(--unnamed-color-464655);
	border-color: var(--unnamed-color-464655);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus {
	background-color: var(--unnamed-color-f56960) !important;
	border-color: var(--unnamed-color-f56960) !important;
	color: var(--unnamed-color-ffffff) !important;
}
.btn-primary:focus {
	box-shadow: 0 0 0 0.25rem rgb(245 105 96 / 50%);
}
.btn-primary.white {
	color: var(--unnamed-color-0c0c0d);
	background-color: var(--unnamed-color-ffffff);
}

/* Background Colors */
.bg-white {
	background-color: var(--unnamed-color-ffffff);
}
.bg-gray {
	background-color: var(--unnamed-color-f4f4f9);
}
.bg-primary {
	background-color: var(--unnamed-color-f56960);
}
.bg-primary-opacity {
	background-color: rgb(245 105 96 / 10%);
}

/* Borders */
.b-radius-8 {
	border-radius: 8px;
}

/* Table */
.table > :not(caption) > * > * {
	padding: 0.2rem 0.2rem;
}

/* Audio & Video */
audio {
	width: 100%;
}
audio::-webkit-media-controls-panel {
	background-color: var(--unnamed-color-ffffff);
}

/* Font Colors */
.fc-white {
	color: var(--unnamed-color-ffffff) !important;
}

/*   ____            _       
/*  |  _ \          | |      
/*  | |_) | ___   __| |_   _ 
/*  |  _ < / _ \ / _` | | | |
/*  | |_) | (_) | (_| | |_| |
/*  |____/ \___/ \__,_|\__, |
/*                      __/ |
/*                     |___/  */
/* Body */
body {
	background: var(--unnamed-color-f4f4f9) 0% 0% no-repeat padding-box;
	background: #f4f4f9 0% 0% no-repeat padding-box;
	opacity: 1;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
		var(--unnamed-line-spacing-24) var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	text-align: right;
	font: normal normal normal 16px/24px Tajawal;
	letter-spacing: 0px;
	color: #464655;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}
.title > span {
	color: var(--unnamed-color-f56960);
}
.title > span:not(:first-child) {
	color: unset;
}

/*   _   _             _                
/*  | \ | |           | |               
/*  |  \| | __ ___   _| |__   __ _ _ __ 
/*  | . ` |/ _` \ \ / / '_ \ / _` | '__|
/*  | |\  | (_| |\ V /| |_) | (_| | |   
/*  |_| \_|\__,_| \_/ |_.__/ \__,_|_|   
/*                                      
/*                                       */
/* Navbar */
.navbar {
	z-index: 11111111;
}
.navbar .dropdown-item {
	padding: 12px 24px;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-24) var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	text-align: right;
	font: normal normal normal 14px/24px Tajawal;
	letter-spacing: 0px;
	color: #464655;
}
.navbar .dropdown-item .title {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-24)
		var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	text-align: right;
	font: normal normal bold 14px/24px Tajawal;
	letter-spacing: 0px;
	color: #464655;
}

.navbar .dropdown-item:hover .title {
	color: var(--unnamed-color-f56960);
}
.navbar .dropdown-item.active,
.navbar .dropdown-item:active,
.navbar .dropdown-item.active .title,
.navbar .dropdown-item:active .title {
	color: var(--unnamed-color-ffffff);
}
.navbar .dropdown-item.active svg path,
.navbar .dropdown-item:active svg path {
	stroke: var(--unnamed-color-ffffff) !important;
}
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
	background-color: unset;
}
.navbar .dropdown-item.active,
.navbar .dropdown-item:active {
	background-color: var(--unnamed-color-f56960);
}
.navbar .dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}
.navbar .dropdown:hover .dropdown-toggle,
.navbar .dropdown .dropdown-toggle.show,
.navbar-light .nav-link:hover,
.navbar-light .nav-link:active,
.navbar-light .nav-link.active {
	color: var(--unnamed-color-f56960);
}
.navbar-light .nav-link {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-16) / var(--unnamed-line-spacing-24)
		var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	text-align: right;
	font: normal normal bold 16px/24px Tajawal;
	letter-spacing: 0px;
	color: #464655;
	opacity: 1;
}
.navbar .nav-link {
	display: inline-block;
}
.navbar .nav-link:active,
.navbar .nav-link.active,
.navbar .nav-link:hover {
	color: var(--unnamed-color-f56960);
}
.navbar .nav-link:active svg path,
.navbar .nav-link.active svg path,
.navbar .nav-link:hover svg path {
	stroke: var(--unnamed-color-f56960);
}

/*    _____           _   _               ____  _            _    
/*   / ____|         | | (_)             |  _ \| |          | |   
/*  | (___   ___  ___| |_ _  ___  _ __   | |_) | | ___   ___| | __
/*   \___ \ / _ \/ __| __| |/ _ \| '_ \  |  _ <| |/ _ \ / __| |/ /
/*   ____) |  __/ (__| |_| | (_) | | | | | |_) | | (_) | (__|   < 
/*  |_____/ \___|\___|\__|_|\___/|_| |_| |____/|_|\___/ \___|_|\_\
/*                                                                
/*                                                                 */
/* Section Block */
.d-section {
	position: relative;
	padding: 80px 0;
}
.d-section[class*='clip-']:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background-color: var(--unnamed-color-f4f4f9);
}
.d-section[class*='clip-'].clip-white:after {
	background-color: var(--unnamed-color-ffffff);
}
.d-section.clip-tr:after {
	bottom: unset;
	left: unset;
	top: -1px;
	right: 0;
	clip-path: polygon(0 0, 100% 100%, 100% 0);
}
.d-section.clip-tl:after {
	bottom: unset;
	right: unset;
	top: -1px;
	left: 0;
	clip-path: polygon(0 0, 0 100%, 100% 0);
}
.d-section.clip-br:after {
	top: unset;
	left: unset;
	bottom: -1px;
	right: 0;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.d-section.clip-bl:after {
	top: unset;
	right: unset;
	bottom: -1px;
	left: 0;
	clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.d-section.clip-tro:after {
	bottom: unset;
	left: unset;
	top: -80px;
	right: 0;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	z-index: 1;
}
.d-section.clip-tlo:after {
	bottom: unset;
	right: unset;
	top: -80px;
	left: 0;
	clip-path: polygon(0 0, 0 100%, 100% 100%);
	z-index: 1;
}
.d-section.clip-bro:after {
	top: unset;
	left: unset;
	bottom: -80px;
	right: 0;
	clip-path: polygon(0 0, 100% 100%, 100% 0);
	z-index: 1;
}
.d-section.clip-blo:after {
	top: unset;
	right: unset;
	bottom: -80px;
	left: 0;
	clip-path: polygon(0 0, 0 100%, 100% 0);
	z-index: 1;
}
.d-section .header {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-48) / var(--unnamed-line-spacing-24)
		var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: right;
	font: normal normal bold 48px/24px Tajawal;
	letter-spacing: 0px;
	padding-bottom: 40px;
	line-height: 120%;
}
.d-section .header span {
	color: var(--unnamed-color-f56960);
}
.d-section .title {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-16) / var(--unnamed-line-spacing-24)
		var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	text-align: right;
	font: normal normal bold 16px/24px Tajawal;
	letter-spacing: 0px;
	color: #464655;
}
.d-section .text {
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
		var(--unnamed-line-spacing-24) var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	font: normal normal normal 16px/24px Tajawal;
	letter-spacing: 0px;
	color: #464655;
}
.d-section .date {
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-24) var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	font: normal normal normal 14px/24px Tajawal;
	letter-spacing: 0px;
	color: #464655;
	opacity: 0.5;
}
.d-section a {
	text-decoration: none;
}

/* Big Slide */
.big-slider .splide__slide .content {
	min-height: 600px;
	border-radius: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* News Ticker */
.news-ticker {
	overflow: hidden;
	background: #eee;
	background: var(--unnamed-color-f56960) 0% 0% no-repeat padding-box;
	background: #f56960 0% 0% no-repeat padding-box;
}
.news-ticker .hmove {
	display: flex;
}
.news-ticker .hitem {
	flex-shrink: 0;
	box-sizing: border-box;
	padding: 10px 20px;
	text-align: center;
}
.news-ticker .hitem a {
	text-decoration: none;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		18px / var(--unnamed-line-spacing-24) var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-ffffff);
	text-align: right;
	font: normal normal bold 18px/24px Tajawal;
	letter-spacing: 0px;
	color: #ffffff;
}
.news-ticker .hitem a:hover {
	text-decoration: underline;
}

@keyframes tickerh {
	100% {
		transform: translate3d(200%, 0, 0);
	}
	0% {
		transform: translate3d(-120%, 0, 0);
	}
}
.news-ticker .hmove {
	animation: tickerh linear 50s infinite;
	animation-duration: 100s;
}
.news-ticker .hmove:hover {
	animation-play-state: paused;
}

/* Audio */
.d-section .audio .thumbnail,
.posts-list .thumbnail {
	width: calc(100% - 20px);
	height: 80px;
	background-position: center;
	background-size: cover;
	border-radius: 8px;
}
.d-section .audio .content > a:not(:last-child) {
	margin-bottom: 24px;
}

/* Video */
.d-section .video .thumbnail {
	position: relative;
	width: calc(100% - 20px);
	height: 280px;
	background-position: center;
	background-size: cover;
	border-radius: 8px;
}
.d-section .video .thumbnail:before,
.d-section .video .thumbnail:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
}
.d-section .video .thumbnail:before {
	width: 100%;
	height: 100%;
	background: #464655 0% 0% no-repeat padding-box;
	border-radius: 8px;
	opacity: 0.5;
}
.d-section .video .thumbnail:after {
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	background: transparent url('../svg/play_video.svg') 0% 0% no-repeat
		padding-box;
	background-position: center;
	width: 100px;
	height: 100px;
}
.d-section .video .text {
	height: 170px;
	word-break: break-word;
	overflow: hidden;
}
.d-section .video .content > a:hover .title,
.d-section .video .content > a:focus .title,
.d-section .video .content > a:active .title {
	color: var(--unnamed-color-f56960);
}
.d-section .video .content > a:not(:last-child) {
	margin-bottom: 24px;
}

/* Custom List */
.custom-list li:not(:last-child) {
	border-bottom: 1px solid #d7d7d7;
}
.content .section .custom-list li a {
	text-decoration: none;
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
		var(--unnamed-line-spacing-24) var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	font: normal normal normal 16px/24px Tajawal;
	letter-spacing: 0px;
	color: #464655;
	padding: 5px 0;
	margin: 5px 0;
}
.content .section .custom-list li a > span:last-child {
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-24) var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	font: normal normal normal 14px/24px Tajawal;
	letter-spacing: 0px;
	width: 90px;
	opacity: 0.5;
}
.custom-list li a:active > span:first-of-type,
.custom-list li a:hover > span:first-of-type,
.custom-list li a:focus > span:first-of-type {
	color: #f56960;
}

/* Image with text */
.image-with-text {
	position: relative;
	width: 100%;
	height: 240px;
	background-size: cover;
	background-position: center;
	padding: 12px;
}
.image-with-text .text {
	width: 100%;
	padding: 8px 20px;
	background: var(--unnamed-color-464655) 0% 0% no-repeat padding-box;
	background: #464655 0% 0% no-repeat padding-box;
	border-radius: 8px;
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-21)
		var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-f4f4f9);
	text-align: center;
	font: normal normal bold 14px/21px Tajawal;
	letter-spacing: 0px;
	color: #f4f4f9;
}

/* Share inside post */
.share-link {
	float: left;
	margin-left: 150px;
}
.share-link .content {
	position: absolute;
	top: 100px;
	left: 0;
	width: max-content;
}
.share-link .title {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-21)
		var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	font: normal normal bold 14px/21px Tajawal;
	letter-spacing: 0px;
}
.share-link .links {
	list-style: none;
	padding: 5px;
}
.share-link .links li:not(:last-child) {
	margin-bottom: 5px;
}
.share-link .links a {
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
		var(--unnamed-line-spacing-21) var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	font: normal normal normal 14px/21px Tajawal;
	letter-spacing: 0px;
	color: #464655;
}
.share-link .links a img {
	margin-left: 10px;
}
.share-link .links a:hover span,
.share-link .links a:focus span,
.share-link .links a:active span,
.share-link .links a.active span {
	color: var(--unnamed-color-f56960);
}

/* Post */
.post-title {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-48) / 72px var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-f56960);
	text-align: center;
	font: normal normal bold 48px/72px Tajawal;
	letter-spacing: 0px;
	color: #f56960;
	padding: 0 0 20px;
}
.author-info,
.author-info h4 {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		18px/27px var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	text-align: right;
	font: normal normal bold 18px/27px Tajawal;
	letter-spacing: 0px;
	color: #464655;
}
.comments-list .item {
	padding: 20px 0;
}
.comments-list .item:not(:last-child) {
	border-bottom: 1px solid rgb(70 70 85 / 15%);
}
.comments-list .item .author-info,
.comments-list .item .author-info h4 {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-14) / var(--unnamed-line-spacing-21)
		var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-464655);
	text-align: right;
	font: normal normal bold 14px/21px Tajawal;
	letter-spacing: 0px;
	color: #464655;
}
.author-info *:not(:last-child) {
	position: relative;
	margin: 0 0 0 40px;
}
.author-info *:not(:last-child):after {
	content: '•';
	position: absolute;
	font-size: 20px;
	left: -22px;
	top: 4px;
}

/*   ______          _            
/*  |  ____|        | |           
/*  | |__ ___   ___ | |_ ___ _ __ 
/*  |  __/ _ \ / _ \| __/ _ \ '__|
/*  | | | (_) | (_) | ||  __/ |   
/*  |_|  \___/ \___/ \__\___|_|   
/*                                
/*                                 */
/* Footer */
footer {
	padding: 50px 0 20px;
	background: var(--unnamed-color-464655) 0% 0% no-repeat padding-box;
	background: #464655 0% 0% no-repeat padding-box;
	color: white;
}
footer a,
footer a:hover,
footer a:focus,
footer a:active {
	text-decoration: none;
	color: white;
}
footer .list-title {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		var(--unnamed-font-size-24) / var(--unnamed-line-spacing-36)
		var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-ffffff);
	font: normal normal bold 24px/36px Tajawal;
	letter-spacing: 0px;
	color: #ffffff;
}
footer .list li a {
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) 18px / var(--unnamed-line-spacing-36)
		var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-ffffff);
	text-align: right;
	font: normal normal normal 18px/36px Tajawal;
	letter-spacing: 0px;
	color: var(--unnamed-color-ffffff);
}
footer .list li a:hover,
footer .list li a:active,
footer .list li a:focus,
footer .list li a.active {
	opacity: 0.6;
}
footer .list li .title {
	font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
		18px / var(--unnamed-line-spacing-36) var(--unnamed-font-family-tajawal);
	letter-spacing: var(--unnamed-character-spacing-0);
	text-align: right;
	font: normal normal bold 18px/36px Tajawal;
	letter-spacing: 0px;
	color: var(--unnamed-color-ffffff);
}
footer .socialLinks {
	font-size: 24px;
}

/*   _____                                 _                               
/*  |  __ \                               (_)                              
/*  | |__) |___  ___ _ __   ___  _ __  ___ ___   _____ _ __   ___  ___ ___ 
/*  |  _  // _ \/ __| '_ \ / _ \| '_ \/ __| \ \ / / _ \ '_ \ / _ \/ __/ __|
/*  | | \ \  __/\__ \ |_) | (_) | | | \__ \ |\ V /  __/ | | |  __/\__ \__ \
/*  |_|  \_\___||___/ .__/ \___/|_| |_|___/_| \_/ \___|_| |_|\___||___/___/
/*                  | |                                                    
/*                  |_|                                                     */
/* Responsiveness */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

@media (max-width: 420.98px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	footer .site-logo {
		max-width: 250px;
		padding: 40px 40px 20px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
}
/* Large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* Extra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
}
/* Large devices (desktops, less than 1600px) */
@media (max-width: 1599.98px) {
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
